extends layout

block content
  h1= title
  h2 Usage Example:
  h3 Returns a number
  code https://url-shorterner-jaykun.c9users.io/api/https://www.facebook.com
  br
  h3 To use this service, simply call the api with the number above
  code https://url-shorter-jaykun.c9users.io/297
